.dark {
    background-color: #2b3945;
    color: white;
}

.light {
    background-color: #fff;
    color: black
}



.countrycard {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.filterBox {
    display: flex;
    justify-content: space-between;
}


.theme {
    display: flex;
    align-items: center
}

.Loading {
    height: 40vh;
    width: 100vw;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.countryDetailsCard {
    height: 600px;
}

p {
    margin: 10px;
    text-align: left;
}
